body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titulo-centralizado {
	text-align: center;
	margin: 20px;
}

.bloco {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#controle {
	margin:15px;
}

.comando {
	padding-top: 15px;
	padding-left: 30px;
}

#button1, #button2 {
	border: 2px solid;
	border-radius: 15px;
	font-size: 15px;
	cursor: pointer;
	color: #1c1c1c;
	background-color: #4682B4;
	border-color: transparent;
}

button:hover {
	background-color: #ADD8E6;
}


