* {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.links {
  text-align: center;
  margin: 30px 0;
}

.links a {
  padding-left: 120px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px
}

.links a:hover {
  font-size: 1.1em;
  transition: 0.2s;
}

.about-us-part {
  background-image: url(/images/header.png);
  background-size: cover;
  background-position-y: 50%;
  padding: 250px 0;
}

.about-us-part img {
  position: absolute;
  right: 800px;
  bottom: 90px;
  width: 350px;
  border-radius: 50%;
  opacity: .8;
}

.#logo-asm:hover {
  opacity: 1;
  transition: 0.5s;
  width: 390px;
}

.about-us-text {
  position: absolute;
  left: 690px;
  bottom: 20px;
  max-width: 45%;
  padding: 100px 0;
  cursor: alias;
}

.about-us-text p {
  text-align: justify;
  font-size: 1.1em;
}

#paragraph-header  {
  font-size: 1.2em;
  text-align: center;
  margin-top: 60px;
  padding: 10px 0;
  font-weight: bolder;
}

.activities-part {
  margin-top: 50px;
  background-image: url(/images/activities.png);
  background-size: cover;
  background-position-y: 250%;
  padding: 125px 0;
  text-align: center;
}

.activities-container {
  display: inline-block;
  position: relative;
  top: 100px;
  vertical-align: middle;
  max-width: 30%;
  min-height: 370px;
  border: 1px solid black;
  border-radius: 30%;
  margin: 0 10px
}

.activities-container:hover {
  background-color: rgb(255, 255, 0);
  transition: 1s;
}
.activities-text {
  cursor: alias;
}

.activities-text h4 {
  margin: 15px 0;
  font-size: 1.1em;
}

.activities-container img {
  margin: 10px 0;
  width: 100px;
}

.activities-text ul {
  margin: 10px 0;
}

.activities-text li {
  list-style-type: none;
  font-weight: bold;
  margin-top: 2px;
}

.photos-part {
  margin-top: 50px;
  background-image: url(/images/photos.png);
  background-size: cover;
  background-position-y: 110%;
  padding: 90px 0;
}

.photos-container {
  position: relative;
  width: 50%;
  top: 40px;
  left: 610px;
}

.photos-part img {
  width: 200px;
  padding: 6px;
  border: white solid 5px ;
  border-radius: 5%;
  border-style: solid;
}

.photos-part img:hover {
  opacity: 0.8;
}

.photos-part img:nth-child(1) {
  border-radius: 20%;
  height: 120px;
}

.photos-part img:nth-child(2) {
  border-radius: 20%;
  height: 100px;
}

.photos-part img:nth-child(3) {
  border-radius: 25%;
}

.photos-part img:nth-child(4) {
  border-radius: 20%;
}

.photos-part img:nth-child(5) {
  border-radius: 15%;
  margin: 15px 0 0 10px;
}

.contacts-part {
  margin-top: 50px;
  background-image: url(/images/contacts.png);
  background-size: cover;
  padding: 120px 0;
  background-position: 10mm 0;
}

.contacts-container {
  text-align: center;
  padding: 140px 0;
}

.contacts-part img {
  width: 120px;
  padding-left: 25px;
}

.contacts-part img:hover {
  transition: 1s;
  width: 130px;
}