.recipe {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:0) {
  .recipe {
    margin: 0 1em;
    width: 100%
  }
}

@media screen and (min-width:768px) {
  .recipe {
    margin: 0 .5em;
    width: calc(25% - .5em);
  }
}

@media screen and (min-width:992px) {
  .recipe {
    margin: 0 1em 2em;
    width: calc(25% - 2em);
  }
}